


<div class="container">
  <div class="row">
  <h1>Tous nos Dikkecheker :</h1>
    <% @belges.each do |belge| %>
      <div class="col-xs-6 col-sm-3">
        <div class="card" style="background-image: linear-gradient(rgba(51,51,51,0.3), rgba(51,51,51,0.7)), url( '<% if belge.photo? %> <%= cl_image_path belge.photo.path %> <% end %>');">
          <div class="card-category"></div>
          <div class="card-description">
            <h2><%= belge.first_name %> <%= belge.last_name %></h2>
          </div>
          <div class="card-price"> <p><%= belge.price %> €</p> </div>
          <%= link_to nil, belge_path(belge), class: 'card-link' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
