
<h1><%= @belge.first_name %> <%= @belge.last_name %></h1>
<div class="belge-img">
  <% if @belge.photo? %>
    <%= cl_image_tag @belge.photo.path, width: 200, height: 200, crop: :fill, :radius=>10 %>
  <% end %>
</div>
 <p>
  <%= @belge.description %>
</p>
<p>
  <%= @belge.price %> Francs Belge
</p>

<%= link_to "All belges", belges_path %>

